.admin {
  .container {
    max-width: 1024px;
    padding: 60px 25px;

    h2 {
      text-align: center;
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 32px;
    }

    .admin-info {
      border-radius: 8px;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      padding: 32px;
      background-color: var(--whiteF1);
      display: flex;
      flex-direction: column;
      max-width: 600px;
      margin: 32px auto;

      span {
        font-size: 14px;
      }

      .input {
        margin: 16px 0;

        label {
          font-size: 14px;
          display: block;
          padding-bottom: 6px;
        }

        input {
          width: 100%;
          border: none;
          background-color: var(--lightYellow);
          padding: 8px;
          height: 50px;

          @media (min-width: 900px) {
            
          }

          &:focus {
            outline: none;
          }
        }
      }

      button {
        border: none;
        padding: 10px 20px;
        background-color: var(--black);
        color: var(--white);
        align-self: center;
        border-radius: 20px;

        &:hover {
          outline: none;
        }
      }
    }
    .notice {
      border-radius: 8px;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      padding: 32px;
      max-width: 600px;
      margin: 0 auto;

      &:hover {
        .announce::after {
          width: 100%;
        }
      }

      .announce {
        color: var(--alert);
        font-weight: bold;
        transition: all .5s ease-in;
        display: inline-block;
        &:after {
          content: '';
          width: 0px; 
          height: 1px;
          display: block;
          background-color: var(--alert);
          transition: all .5s ease-in;
        }
      }

      span:nth-child(2),span:nth-child(3) {
        margin-top: 5px;
        display: block;
      }
    }
  }
}