.blog-cards {
  position: relative;

  .toggle-edit {
    display: flex;
    align-items: center;
    position: absolute;
    top: -70px;
    right: 0;

    span {
      margin-right: 16px;
    }

    input[type="checkbox"] {
      cursor: pointer;
      position: relative;
      border: none;
      -webkit-appearance: none;
      background: var(--white);
      outline: none;
      width: 80px;
      height: 25px;
      border-radius: 20px;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    }
    
    input[type="checkbox"]:before {
      cursor: pointer;
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 20px;
      top: 0;
      left: 0;
      background: var(--grey400);
      transform: scale(1.1);
      transition: 750ms ease all;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    }
    
    input:checked[type="checkbox"]:before {
      cursor: pointer;
      background-color: var(--white);
      left: 52px;
    }
  }
}


