.form-wrap {
  overflow: hidden;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  width: 90%;
  @media (min-width: 900px) {
    width: 100%;
  }

  .login-register {
    margin-bottom: 32px;

    .router-link {
      color: var(--black);
    }
  }

  form {
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    @media (min-width: 900px) {
      padding: 0 50px;
    }

    h2 {
      text-align: center;
      font-size: 32px;
      color: var(--grey400);
      margin-bottom: 40px;
      @media (min-width: 900px) {
        font-size: 40px;
      }
    }

    .inputs {
      width: 100%;
      max-width: 350px;

      .input {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        input {
          width: 100%;
          border: none;
          background-color: var(--lightYellow);
          padding: 4px 4px 4px 30px;
          height: 50px;

          &:focus {
            outline: none;
          }
        }
        .icon {
          width: 12px;
          position: absolute;
          left: 6px;
        }
      }
    }

    .forgot-password {
      text-decoration: none;
      color: var(--black);
      cursor: pointer;
      font-size: 14px;
      margin: 16px 0 16px;
      border-bottom: 1px solid transparent;
      transition: .5s ease all;

      &:hover {
        border-color: var(--grey400);
      }
    }

    button {
      padding: 10px 20px;
      background: var(--black);
      border: none;
      transition: .5s ease all;
      color: var(--white);
      border-radius: 20px;
      cursor: pointer;
      text-transform: uppercase;
      margin-top: 15px;

      background: linear-gradient(to left, var(--black) 50%, var(--white) 50%) right;
      background-size: 200%;
      transition: .5s ease-out;

      &:hover {
        background-position: left;
        color: var(--black);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        font-weight: bold;
      }
    }

    .angle {
      display: none;
      position: absolute;
      background-color: var(--white);
      transform: rotateZ(3deg);
      width: 60px;
      right: -30px;
      height: 101%;
      @media (min-width: 900px) {
        display: initial;
      }
    }
  }

  .background {
    display: none;
    flex: 2;
    background-size: cover;
    background-image: url('../assets/background.png');
    width: 100%;
    height: 100%;
    @media (min-width: 900px) {
      display: initial;
    }
  }
}