.profile {
  .container {
    max-width: 1000px;
    padding: 60px 25px;
  }

  h2 {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 32px;
  }

  .profile-info {
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 32px;
    background-color: var(--whiteF1);
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 32px auto;

    .initials {
      position: initial;
      width: 80px;
      height: 80px;
      font-size: 32px;
      background-color: var(--grey400);
      color: var(--white);
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    .admin-padge {
      display: flex;
      align-self: center;
      color: var(--white);
      font-size: 14px;
      padding: 8px 24px;
      border-radius: 8px;
      background-color: var(--grey400);
      margin: 16px 0;
      text-align: center;
      text-transform: capitalize;

      .icon {
        width: 14px;
        height: auto;
        margin-right: 8px;
      }
    }

    .input {
      margin: 16px 0;

      label {
        font-size: 14px;
        display: block;
        padding-bottom: 6px;
      }

      input {
        width: 100%;
        border: none;
        background-color: var(--lightYellow);
        padding: 8px;
        height: 50px;
        @media (min-width: 900px) {
          
        }

        &:focus {
          outline: none;
        }
      }
    }

    button {
      padding: 10px 20px;
      background: var(--black);
      border: none;
      transition: .5s ease all;
      color: var(--white);
      border-radius: 20px;
      cursor: pointer;
      text-transform: uppercase;
      margin-top: 15px;
      align-self: center;
      background: linear-gradient(to left, var(--black) 50%, var(--white) 50%) right;
      background-size: 200%;
      transition: .5s ease-out;

      &:hover {
        background-position: left;
        color: var(--black);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        font-weight: bold;
      }
    }
  }
}