
:root {
  --white: #fff;
  --whiteF1: #f1f1f1;
  --black: #000;
  --blackBold: black;
  --colorHoverLink: #1eb8b8;
  --grey400: #303030;
  --grey500: #555555;
  --lightYellow: #f2f7f6;
  --textError: red;
  --alert: #dc3545;
  --disabledButton: #878787;
  --zIndexBannerContent: 1;
  --zIndexHeader: 2;
  --zIndexAnnounce: 5;
  --zIndexSearchBackdrop: 24;
  --zIndexSearchContent: 25;
  --zIndexModalBackdrop: 49;
  --zIndexModalContent: 50;
  --zIndexDropdownBackdrop: 54;
  --zIndexTooltip: 55;
  --zIndexCookieConsent: 60;
  --zIndexLoadingIndicator: 1000;
  --sizeLink: 24;
  --hoverLinkCard: rgba(48, 48, 48, .8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--white);
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--white);
}

body::-webkit-scrollbar-thumb
{
	background-color: var(--grey500);
	border: 2px solid var(--grey500);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.link {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--blackBold);
}

.link-light {
  color: var(--white);
}

.arrow {
  margin-left: 8px;
  width: 12px;
  path {
    fill: var(--black); 
  }
}

.arrow-light {
  path {
    fill: var(--white);
  }
}

.button, .router-button {
  transition: 500ms ease all;
  cursor: pointer;
  margin-top: 24px;
  padding: 12px 24px;
  background-color: var(--grey400);
  color: var(--white);
  border-radius: 20px;
  border: none;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba(48, 48, 48, .7);
  }
}

.button-ghost {
  color: var(--black);
  padding: 0;
  border-radius: 0;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
  @media (min-width: 700px) {
    margin-top: 0;
    margin-left: auto;
  }

  i {
    margin-left: 8px;
  }
}

.button-light {
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
}

.blog-card-wrap {
  position: relative;
  padding: 80px 16px;
  background-color: var(--whiteF1);
  @media (min-width: 500px) {
    padding: 100px 16px;
  }

  .blog-cards  {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr;

    @media (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .view-more {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;  
    .load-more-button {
      display: flex;
      cursor: pointer;
      align-items: center;
      padding: 10px 20px;
      color: var(--white);
      background-color: var(--black);
      border-radius: 20px;
      font-size: 16px;
      border: none;
      &:focus {
        outline: none;
      }
  
      &.active-loading {
        background-color: inherit;
        color: inherit;
        pointer-events: none;
      }
    }
  }
}

.error {
  text-align: center;
  font-size: 12px;
  color: var(--textError);
}