.blog-card {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--white);
  transition: .5s ease-in-out all;
  
  @media (min-width: 900px) {
    max-height: 400px;
  } 

  &:hover {
    transform: rotateZ(-1deg) scale(1.05);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    .link {
      font-weight: 500;
    }
  }

  .icons {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: var(--zIndexAnnounce);

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: var(--white);
      transition: .5s ease all;

      &:hover {
        background-color: var(--grey400);
        .edit, .delete {
          path {
            fill: var(--white);
          }
        }
      }

      &:nth-child(1) {
        margin-right: 8px;
      }

      .edit, 
      .delete {
        pointer-events: none;
        height: 15px;
        width: auto;
      }
    }
  }

  img {
    display: block;
    border-radius: 8px 8px 0 0 ;
    z-index: 1;
    width: 100%;
    min-height: 200px;
    object-fit: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    padding: 32px 16px;
    color: var(--black);

    h4 {
      padding-bottom: 8px;
      font-size: 20px;
      font-weight: 300;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    h6 {
      font-weight: 400;
      font-size: 12px;
      padding-bottom: 16px;
    }

    .link {
      display: inline-flex;
      align-items: center;
      margin-top: auto;
      font-weight: 500;
      padding-top: 20px;
      font-size: 12px;
      padding-bottom: 4px;
      transition: .5 ease-in-out all;

      &:hover {
        color: var(--hoverLinkCard);
      }

      .arrow {
        width: 10px;
      }
    }
  }
}