.loading {
  top: 0;
  z-index: var(--zIndexModalBackdrop);
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  display: flex; 
  align-items: center;
  justify-content: center;

  @keyframes spin {
    to {
      transform: rotateZ(360deg);
    }
  }

  span {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: 3px solid transparent;
    border-top-color: var(--white);
    border-bottom-color: var(--white);
    border-radius: 50%;
    animation: spin ease 1s infinite;
  }
}