.profile-menu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 250px;
  background-color: var(--grey400);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0,  0.06);

  .info {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 1px solid var(9--white);

    .initials {
      position: initial;
      width: 40px;
      height: 40px;
      background-color: var(--white);
      color: var(--grey400);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }


    .right {
      flex: 1;
      margin-left: 24px;

      p:nth-child(1) {
        font-size: 14px;
      }

      p:nth-child(2), p:nth-child(3) {
        font-size: 12px;
      }
    }
  }

  .options {
    padding: 15px;
    border-top: 1px solid var(--white);
    .option {
      text-decoration: none;
      color: var(--white);
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      .icon {
        width: 18px;
        height: auto;
      }

      p {
        font-size: 14px;
        margin-left: 12px;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}