.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--zIndexModalBackdrop);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, .7);

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    width: auto;
    height: auto;
    margin: auto;
    padding: 40px 30px;
    background-color: var(--white);
    z-index: var(--zIndexModalContent);

    p {
      text-align: center;
      margin: 15px 0px;
    }

    button {
      padding: 10px 20px;
      background: var(--black);
      border: none;
      transition: .5s ease all;
      color: var(--white);
      border-radius: 20px;
      cursor: pointer;
      text-transform: uppercase;
      align-self: center;
    }
  }
}