.modal {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: var(--zIndexModalBackdrop);
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .modal-content {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    background-color: var(--white);
    height: 700px;
    width: 1000px;
    padding: 50px 25px;
    object-fit: cover;
    box-sizing: border-box;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    .icon {
      width: 24px;
      height: auto;
      cursor: pointer;
      font-size: 24px;
      position: absolute;
      top: 15px;
      right: 15px;
      color: var(--grey400);
      color: initial;
      transition: all .5s ease-in;

      &:hover {
        color: var(--alert);
      }
    }

    img {
      margin-top: 16px;
      display: block;
      width: 100%;
      border-radius: 3px;
      height: 100%;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }
}