.mobile-nav-enter-active, .mobile-nav-leave-active {
  transition: all 1s ease;
} 

.mobile-nav-enter {   
  transform: translateX(-250px);
}

.mobile-nav-enter-to {
  transform: translateX(0);
}

.mobile-nav-leave-to {
  transform: translateX(-250px);
}


.fade-enter-active, .fade-leave-active {
  transition: all .8s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}


.slide-top-enter-to, .slide-top-leave-to {
  transition: all .8s ease;
}

.slide-top-enter {
  height: 0;
}

.slide-top-enter-to, .slide-top-leave {
  height: auto;
}
