<template>
  <div class="admin">
    <div class="container">
      <h2>Administrator</h2>
      <div class="admin-info">
        <h2>Admin</h2>
        <div class="input">
          <input type="text" placeholder="Enter your email to make them an admin" id="addAdmins" v-model="adminEmail" />
        </div>
        <span>{{ functionMsg }}</span>
        <button class="common-btn invite-btn">Submit</button>
      </div>

      <div class="notice">
        <span class="announce">Notice *</span>
        <span>If you want to use this service, you should register a new account in firebase. After that you should pay the money to pay a <b>Functions</b> service.</span>
        <span><b>Url</b>: <router-link to="https://firebase.google.com/">Firebase</router-link></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {  
  name: "Admin",
  data() {
    return { 
      adminEmail: "",
      functionMsg: ""
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "@/styles/views/admin.scss";
</style>