<template>
  <div class="post-view">
    <div class="container quillWrapper">
      <h2>{{ blogTitle }}</h2>
      <img :src="blogCoverPhoto" alt="" />
      <div class="post-content ql-editor" v-html="blogHTML"></div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: "BlogReview",
  computed: {
    ...mapState('Post', { 
      blogTitle: 'blogTitle',
      blogCoverPhoto: 'blogPhotoFileUrl',
      blogHTML: 'blogHTML'
    })
  }
}
</script>

<style lang="scss" scoped>
  @import '@/styles/views/post-review.scss';
</style>