<template>
  <div class="blog-card-wrap">
    <loading v-show="false" />
    <div class="blog-cards container">
      <div class="toggle-edit">
        <span>Toggle Editing Post</span>
        <input type="checkbox" v-model="editPost"/>
      </div>
      <blog-card v-for="(post, index) in blogPosts" :key="index" :post="post"/>
    </div>
    <div class="view-more" v-if="blogPosts.length">
      <button class="load-more-button" :class="{ 'active-loading': loading }" @click="loadMore">
        <span v-if="!loading">More</span>
        <pulse-loader  v-else :loading="loading" color="#303030"/>
      </button>
    </div>
  </div>
</template>

<script>
import PulseLoader  from 'vue-spinner/src/PulseLoader.vue'
import BlogCard from '@/components/BlogCard';
import Loading from '@/components/Loading';
import { mapGetters, mapState } from 'vuex';
import { moreMaxPostLimit } from '@/plugins/constants';

export default {
  name: 'Blogs',
  components: {
    BlogCard,
    Loading,
    PulseLoader
  },
  computed: {
    ...mapGetters('Post', {
      blogPosts: 'allBlogPosts'
    }),
    ...mapState(['loadingIndicator']),
    editPost: {
      get() {
        return this.$store.state.editPost;
      },
      set(data) {
        this.$store.commit('SET_EDIT_POST', data);
      }
    }
  },
  data() {
    return { 
      loading: false
    }
  },
  beforeDestroy() {
    this.$store.commit('SET_EDIT_POST', false);
  },
  methods: {
    async loadMore() {
      this.loading = true;
      try {
        this.$store.commit('Post/SET_MORE_LIMIT', moreMaxPostLimit);
        await  this.$store.dispatch('Post/getPost')
        this.loading = false;
      } catch (err) {
        console.log(err)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '@/styles/views/blogs.scss';
</style>