<template>
  <div class="create-post">
    <!-- loading -->
    <loading v-show="loading"/>
    <!-- review post before save -->
    <transition name="fade">
      <blog-cover-review v-show="blogPhotoReview"/>
    </transition>
    <!-- container to create data -->
    <template v-if="currentBlog">
      <div class="container">
        <div :class="{ 'invisible': !error }" class="error-message">
          <p><span>Error: </span>{{ this.errorMsg }}</p>
        </div>
        <div class="blog-info">
          <input type="text" placeholder="Enter blog title" v-model="blogTitle"/>
          <div class="upload-file">
            <label for="blog-photo">Upload cover photo</label>
            <input type="file" ref="blogPhoto" id="blog-photo" accept=".png, .jpg, .jpeg" @change="fileChange"/>
            <button 
              class="button preview" 
              :class="{ 'lock-btn': !blogPhotoFileUrl }" 
              :disabled="!blogPhotoFileUrl"
              @click="openReviewPhoto">
              Preview Photo
            </button>
            <span>File choose: {{ blogPhotoName }}</span>
          </div>
        </div>
        <div class="editor">
          <vue-editor :editorOptions="editorSettings" v-model="blogHTML" useCustomImageHandler @image-added="imageHandler"></vue-editor>
        </div>
        <div class="blog-actions">
          <button class="router-button" @click="saveBlog">Save Blog</button>
          <router-link class="router-button" :to="{ name: 'BlogReview' }">Preview Changes</router-link>
        </div>
      </div>
    </template>
   
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import BlogCoverReview from '@/components/BlogCoverReview';
import BlogModel from '@/models/Blog';
import Loading from '@/components/Loading';
import { uploadFireBaseStorage } from '@/plugins/helpers'
import {firebaseApp} from "@/firebase/firebaseInit";
import "firebase/storage";

import Quill from 'quill';
window.Quill = Quill;
const ImageResize = require('quill-image-resize-module').default;
Quill.register('modules/imageResize', ImageResize);

export default {
  name: 'CreatePost',
  components: {
    BlogCoverReview,
    Loading
  },
   computed: {
    ...mapState('Post', {
      blogPhotoFileUrl: 'blogPhotoFileUrl',
      blogPhotoName: 'blogPhotoName',
      blogPhotoReview: 'blogPhotoReview'
    }),
    ...mapGetters('Profile', { 
      profileId: 'getProfileId'
    }),
    blogTitle: {
      get() {
        return this.$store.state.Post.blogTitle;
      },
      set(value) {
        this.$store.commit('Post/SET_POST_DETAIL', { prop: 'blogTitle', value});
      }
    },
    blogHTML: {
      get() {
        return this.$store.state.Post.blogHTML;
      },
      set(value) {
        this.$store.commit('Post/SET_POST_DETAIL', { prop: 'blogHTML', value});
      }
    }
  },
  data() {
    return {
      loading: false,
      currentBlog: null,
      file: null,
      error: null,
      errorMsg: null,
      blogUID: null,
      editorSettings: {
        modules: {
          imageResize: {
            displaySize: true
          }
        },
        placeholder: "Write here..."
      },
    }
  },

  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (!from.name || from.name != 'BlogReview') {
        vm.$store.commit('Post/REFRESH');
      }
    });
  },

  mounted() {
    this.initials();
  },
  methods: {
    async initials() {
      const blogID = this.$route.params.blogID;
      this.blogUID = blogID;
      let blogModel = new BlogModel();
      let find = await blogModel.find(blogID);
      // return not null 
      if (find) {
        this.currentBlog = find;
        console.log(this.currentBlog);
        //
        this.$store.commit('Post/SET_CURRENT_POST', this.currentBlog );
      }
    },
    fileChange() {
      this.file = this.$refs.blogPhoto.files[0];
      const fileName = this.file.name;
      this.$store.commit('Post/SET_POST_DETAIL', { prop: 'blogPhotoName', value: fileName });
      this.$store.commit('Post/CREATE_FILE_URL', URL.createObjectURL(this.file));
    },
    openReviewPhoto() {
      this.$store.commit("Post/OPEN_PHOTO_URL");
    },

    imageHandler(file, Editor, cursorLocation, resetUploader) {
      const storageRef = firebaseApp.storage().ref();
      const docRef = storageRef.child(`document/blogPostPhotos/${file.name}`);
      docRef.put(file).on(
        'stage_changed', 
        (snapshot) => {
          console.log(snapshot)
        },
        (err) => {
          console.log(err)
        },
        async () => {
          const downloadURL = await docRef.getDownloadURL();
          Editor.insertEmbed(cursorLocation, "image", downloadURL);
          resetUploader();
        }
      )
    },

    async saveBlog() {
      if (this.blogTitle && this.blogHTML) {
        // turn on loading
        this.loading = true;

        const uploadData = async (downloadUrl = null) => {
          let blogModel = new BlogModel({
            blogHTML: this.blogHTML,
            blogCoverPhoto: downloadUrl ,
            blogCoverPhotoName: this.blogPhotoName,
            blogTitle: this.blogTitle, 
            profileId: this.profileId,
          })

          const success = await blogModel.update(this.blogUID);
          this.loading = false;

          if (success) {
            // get detail of post via ID
            const detailPost = await blogModel.find(this.blogUID);
            this.$store.commit('Post/UPDATE_POST_TO_LIST',  { blogID: this.blogUID, post: detailPost} );
            // redirect to view post
            this.$router.push({ name: 'ViewBlog', params: { blogID: this.blogUID } });
          }
        };
        if (this.file) {
          // 1. store file first
          try {
            await uploadFireBaseStorage({
              blobFile: this.file,
              pathStore: `document/BlogCoverPhoto`,
              fileName: this.blogPhotoName
            }, uploadData);
          } catch (err) {
            this.loading = false;
            console.log(err)
          }
          return;
        }
        // update data without image 
        await uploadData();
      } else {
        this.error = true;
        this.errorMsg = "Please ensure Blog Title & Blog Post has been filled!";
        this.closeError()
      } 
    },
    closeError() {
      setTimeout(() => {
        this.error = false;
      }, 3000)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '@/styles/views/create-post.scss';
</style>