<template>
  <div class="reset-password">
    <transition name="fade">
      <modal v-if="modalActive" @close-modal="closeModal" :modal-message="modalMessage"/>
    </transition>
    <loading v-if="loading"/>
    <div class="form-wrap">
      <form class="reset">
        <p class="login-register">
          Back to
          <router-link class="router-link" :to="{ name: 'Login' }">Login</router-link>
        </p>
        <h2>Reset password</h2>
        <p>Forgot your password? Enter you email to reset it</p>
        <div class="inputs">
          <div class="input">
            <input type="text" placeholder="Email" v-model="email" />
            <email class="icon" />
          </div>
          <div v-show="error" class="error">{{ errorMsg }}</div>
        </div> 
        <button @click.prevent="resetPassword">
          <span>Sign in</span>
        </button>
        <div class="angle"></div>
      </form>
      <div class="background"></div>
    </div>
  </div>
</template>

<script>
import email from '@/assets/Icons/envelope-regular.svg';
import Modal from '@/components/Modal';
import Loading from '@/components/Loading';
import {firebaseApp} from "@/firebase/firebaseInit"
import "firebase/auth";

export default {
  name: 'ForgotPassword',
  components: {
    email,
    Modal,
    Loading
  },
  data() {
    return { 
      email: "",
      modalActive: false,
      modalMessage: '',
      loading: null,
      error: null,
      errorMsg: ""
    }
  },
  methods: {
    resetPassword() {
      if (this.email) {
        this.loading = true;  
        this.error = false;
        this.errorMsg = "";
        firebaseApp.auth().sendPasswordResetEmail(this.email)
        .then(() => {    
          this.loading = false;
          this.modalActive = true;
          this.modalMessage = "If your account exists, you will receive an email!";

        })
        .catch((err) => {
          this.modalMessage = err.message;
          this.loading = false;
          this.modalActive = true;
        })
      } else {
        this.error = true;
        this.errorMsg = "Please fill out all the fields!";
      }
    },
    closeModal() {
      this.modalActive = !this.modalActive;
      this.email = "";
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '@/styles/views/forgot-password.scss';
  @import '@/styles/views/login.scss';
</style>