<template>
  <div class="home">
    <blog-post v-if="!getUser" :post="welcomeScreen"/>
    <blog-post v-for="(post, index) in blogPostsFeeds" :key="index" :post="post"/>
    <div class="blog-card-wrap">
      <div class="container">
        <h3>View more recent blogs</h3>
        <div class="blog-cards">
          <blog-card v-for="(post, index) in blogPostsCards" :key="index" :post="post"/>
        </div>
      </div>
    </div>
    <div v-if="!getUser" class="updates">
      <div class="container">
        <h2>Never miss a post. Register for your free account today!</h2>
        <router-link class="router-button" to="#">
          Register for FireBlogs <Arrow class="arrow arrow-light"/>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import BlogPost from '@/components/BlogPost';
import BlogCard from '@/components/BlogCard';
import Arrow from "@/assets/Icons/arrow-right-light.svg";
import { mapState } from 'vuex';
export default {
  name: "Home",
  components: {
    BlogPost,
    BlogCard,
    Arrow,
  },
  computed: {
    ...mapState({
      sampleBlogCards: state => state.sampleBlogCards
    }),
    ...mapGetters('Profile', [
      'getUser'
    ]),
    ...mapGetters('Post', {
      blogPostsFeeds: 'blogPostsFeeds',
      blogPostsCards: 'blogPostsCards'
    })
  },
  data () {
    return {
      welcomeScreen: {
        title: 'Welcome',
        blogPost: 'Weekly post articles with all things programming including HTML, CSS, Javascript and more. Register today to nerver miss a post relative a technology',
        welcomeScreen: true,
        photo: 'coding'
      },
      loading: false
    }
  },
  
};
</script>
<style lang="scss" scoped>
  @import "@/styles/views/home.scss";
</style>