<template>
  <div class="form-wrap">
    <form class="login">
      <p class="login-register">
        Don't have an account?
        <router-link class="router-link" :to="{ name: 'Register' }">Register</router-link>
      </p>
      <h2>Login to FireBlogs</h2>
      <div class="inputs">
        <div class="input">
          <input type="text" placeholder="Email" v-model="email" />
          <email class="icon" />
        </div>
        <div class="input">
          <input type="password" placeholder="Password" v-model="password" />
          <password class="icon" />
        </div>
        <div v-show="error" class="error">{{ errorMsg }}</div>
      </div> 
      <router-link class="forgot-password" :to="{ name: 'ForgotPassword' }">Forgot your password</router-link>
      <button @click.prevent="signIn">
        <span>Sign in</span>
      </button>
      <div class="angle"></div>
    </form>
    <div class="background">

    </div>
  </div>
</template>

<script>
import email from '@/assets/Icons/envelope-regular.svg';
import password from '@/assets/Icons/lock-alt-solid.svg';
import {firebaseApp} from "@/firebase/firebaseInit"
import "firebase/auth";

export default {
  name: 'Login',
  components: {
    email,
    password,
  },
  data() {
    return { 
      email: "",
      password: "",
      error: null,
      errorMsg: ""
    }
  },
  methods: {
    signIn() {
      if (this.email !== "" && this.password !== "") {
        firebaseApp 
          .auth()
          .signInWithEmailAndPassword(this.email, this.password)
          .then(() => {
            this.$router.push({name: 'Home'})
            this.error = false;
            this.errorMsg = "";
          })
          .catch(err => {
            this.error = true;
            this.errorMsg = err.message
          })
      } else {
        this.error = true;
        this.errorMsg = "Please fill out all the fields!";
      }
     
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '@/styles/views/login.scss';
</style>