<template>
  <div class="profile">
    <transition name="fade">
      <modal v-if="modalActive" :modal-message="modalMessage" @close-modal="closeModal"/>
    </transition>
    <div class="container">
      <h2>Account Settings</h2>
      <div class="profile-info">
        <div class="initials">{{ shortName }}</div>
        <div class="admin-padge">
          <adminIcon class="icon"/>
          <span>admin</span>
        </div>
        <div class="input">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" v-model="firstName" />
        </div>
        <div class="input">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" v-model="lastName" />
        </div>
        <div class="input">
          <label for="username">Username:</label>
          <input type="text" id="username" v-model="username" />
        </div>
        <div class="input">
          <label for="email">Email:</label>
          <input disabled type="text" id="email" v-model="email" />
        </div>
        <button @click="updateProfile">Save changes</button>
      </div>
    </div>
  </div>
</template>

<script>
import  { mapState } from 'vuex';
import Modal from "@/components/Modal";
import adminIcon from "@/assets/Icons/user-crown-light.svg";
export default {
  name: "Profile",
  components: {
    Modal,
    adminIcon
  },
  computed: {
    ...mapState("Profile", {
      shortName: state => state.shortName,
    }),
    
    firstName: {
      get() {
        return this.$store.state.Profile.firstName;
      },
      set(value) {
        this.$store.commit('Profile/UPDATE_PROFILE', { prop: 'firstName', value });
      }
    },
    lastName: {
      get() {
        return this.$store.state.Profile.lastName;
      },
      set(value) {  
        this.$store.commit('Profile/UPDATE_PROFILE', { prop: 'lastName', value });
      }
    },
    username: {
      get() {
        return this.$store.state.Profile.username;
      },
      set(value) {  
        this.$store.commit('Profile/UPDATE_PROFILE', { prop: 'username', value });
      }
    },
    email() {
      return this.$store.state.Profile.email;
    },
  },  
  data () {
    return {
      modalActive: false,
      modalMessage: "Changes were saved!"
    }
  },
  methods: {
    closeModal() {
      this.modalActive = !this.modalActive;
    },
    updateProfile() {
      this.$store.dispatch("Profile/updateUserSettings");
      this.modalActive = !this.modalActive;
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "@/styles/views/profile.scss";
</style>