<template>
  <div class="form-wrap">
    <form class="register">
      <p class="login-register">
        Already have an account?
        <router-link class="router-link" :to="{ name: 'Login' }">Login</router-link>
      </p>
      <h2>Create your blog account</h2>
      <div class="inputs">
        <div class="input">
          <input type="text" placeholder="First Name" v-model="firstName" />
          <user class="icon" />
        </div>
        <div class="input">
          <input type="text" placeholder="Last Name" v-model="lastName" />
          <user class="icon" />
        </div>
        <div class="input">
          <input type="text" placeholder="Username" v-model="username" />
          <user class="icon" />
        </div>
        <div class="input">
          <input type="text" placeholder="Email" v-model="email" />
          <email class="icon" />
        </div>
        <div class="input">
          <input type="password" placeholder="Password" v-model="password" />
          <password class="icon" />
        </div>
        <div v-show="error" class="error">{{ errorMsg }}</div>
      </div> 
      <button @click.prevent="register">
        <span>Sign up</span>
      </button>
      <div class="angle"></div>
    </form>
    <div class="background">

    </div>
  </div>
</template>

<script>
import email from '@/assets/Icons/envelope-regular.svg';
import password from '@/assets/Icons/lock-alt-solid.svg';
import user from '@/assets/Icons/user-alt-light.svg';
import firebase from "firebase";
import "firebase/auth";
// import db from "@/firebase/firebaseInit";
import UserModel from '@/models/User';
import { roles } from "@/plugins/constants";

export default {
  name: 'Register',
  components: {
    email, 
    password,
    user
  },
  data() {
    return {
      firstName: "",
      lastName: "",
      username: "",
      email: "",
      password: "",
      error: null,
      errorMsg: ""
    }
  },
  methods: {
    async register() {
      if ( 
        this.firstName !== "" && 
        this.lastName !== "" && 
        this.username !== "" && 
        this.email !== "" && 
        this.password !== ""
      ) {
        this.error = false;
        this.errorMsg = "";

        try {
          const firebaseAuth = await firebase.auth();
          const createUser = await firebaseAuth.createUserWithEmailAndPassword(this.email, this.password);
          const result = await createUser;

          const user = new UserModel({
            firstName: this.firstName,
            lastName: this.lastName,
            email: this.email,
            username: this.username,
            role: roles.user
          }); 

          user.create(result.user.uid);
          // go to Home Page
          this.$router.push({ name: 'Home' });
        } catch (err) {
          console.log(err)
          if (err.message) {
            this.errorMsg = err.message;
            this.error = true;
          }
        }
        return;
      }
      this.error = true;
      this.errorMsg = "Please fill out all the fields!";
      return;
    },
  }
}
</script>

<style lang="scss" scoped>
  @import "@/styles/views/register.scss";
  @import "@/styles/views/login.scss";
</style>