<template>
  <div class="post-view">
    <div class="container quillWrapper">
      <template v-if="currentBlog">    
        <h2>{{ currentBlog.blogTitle }}</h2>
        <h4>Posted on: <b>{{ new Date(currentBlog.blogDate).toLocaleString('en-us', { dateStyle: 'long' }) }}</b></h4>
        <img :src="currentBlog.blogCoverPhoto" alt="" />
        <div class="post-content ql-editor" v-html="currentBlog.blogHTML"></div>
      </template> 
    </div>
  </div>
</template>

<script>
import BlogModel from '@/models/Blog';
export default {
  name: 'ViewBlog',
  data() {
    return {
      currentBlog: null
    }
  },
  mounted() {
    this.initials();
  },
  methods: {
    async initials() {
      const blogID = this.$route.params.blogID;
      let blogModel = new BlogModel();
      let find = await blogModel.find(blogID);
      if (find) {
        this.currentBlog = find;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '@/styles/views/view-blog.scss';
</style>