<template>
  <div class="modal" ref="modal">
    <div class="modal-content" @click.stop="">
        <close @click="closePreview" class="icon"/>
        <img :src="blogPhotoFileUrl" alt="" /> 
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import close from '@/assets/Icons/times-circle-light.svg';
export default {
  name: "BlogCoverReview",
  components: {
    close
  },
  methods: {
    closePreview() {
      this.$store.commit("Post/OPEN_PHOTO_URL");
    }
  },
  computed: {
    ...mapState('Post', [
      'blogPhotoFileUrl'
    ])
  }
}
</script>

<style scoped lang="scss">
  @import '@/styles/preview-photo.scss';
</style>