<template>
  <div class="blog-card">
    <div class="icons" v-show="editPost">
      <div class="icon" @click="viewPost">
        <Edit class="edit" />
      </div>
      <div class="icon" @click="deletePost">
        <Delete class="delete" />
      </div>
    </div>

    <img :src="post.blogCoverPhoto" alt="" />

    <div class="info">
      <h4>{{ post.blogTitle }}</h4>
      <h6>Posted on: {{ new Date(post.blogDate).toLocaleString('en-us', { dateStyle: 'long'}) }}</h6>
      <router-link class="link" :to="{ name: 'ViewBlog', params: { blogID: post.blogID } }">View the Post <Arrow class="arrow"/></router-link> 
    </div>
    
  </div>
</template>

<script>
import Arrow from "@/assets/Icons/arrow-right-light.svg";
import Edit from "@/assets/Icons/edit-regular.svg";
import Delete from "@/assets/Icons/trash-regular.svg";
import { mapState } from "vuex";
export default {
  name: 'BlogCard',
  components: {
    Arrow,
    Edit,
    Delete,
  },  
  props: {
    post: Object
  },
  computed: {
    ...mapState(['editPost'])
  },
  methods: {
    deletePost() {
      this.$store.dispatch('Post/deletePost', this.post.blogID);
    },
    viewPost() {
      this.$router.push({ name: 'EditBlog', params: {blogID: this.post.blogID} })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "@/styles/blog-card.scss";
</style>