<template>
  <div class="blog-wrapper" :class="{ 'no-user': !getUser }">
    <div class="blog-content">
      <div>
        <h2 v-if="post.welcomeScreen">{{ post.blogTitle }}</h2>
        <h2 v-else>{{ post.blogTitle }}</h2>
        <p v-if="post.welcomeScreen">{{ post.blogPost }}</p>
        <!-- <p v-else class="content-preview" v-html="post.blogHTML"></p> -->

        <router-link v-if="post.welcomeScreen" class="link link-light" to="#">
          Login/Register <Arrow class="arrow arrow-light"/>
        </router-link>
        <router-link v-else class="link" :to="{ name: 'ViewBlog', params: { blogID: post.blogID } }">
          View The Post <Arrow class="arrow"/>
        </router-link>
      </div>
    </div>
    <div class="blog-photo">
      <img v-if="post.welcomeScreen" :src="require(`../assets/blogPhotos/${post.photo}.jpg`)" alt=""/>
      <img v-else :src="post.blogCoverPhoto" alt="cover-photo"/>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Arrow from '@/assets/Icons/arrow-right-light.svg';
export default {
  name: "BlogPost",
  components: {
    Arrow
  },
  props: {
    post: Object
  },
  computed: {
     ...mapGetters('Profile', [
      'getUser'
    ])
  },
  watch: {
    post() {
      console.log(this.post);
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "@/styles/blog-post.scss";
</style>