<template>
  <footer>
    <div class="container">
      <div class="left">
        <div class="col-1">
          <router-link class="header" :to="{ name: 'Home' }">FireBlog</router-link>
          <ul>
            <li>
              <a href=""><youTube class="svg-icon"/></a>
            </li>
            <li>
              <a href=""><twitter class="svg-icon"/></a>
            </li>
            <li>
              <a href=""><instagram class="svg-icon"/></a>
            </li>
            <li>
              <a href=""><linkedin class="svg-icon"/></a>
            </li>
          </ul>
        </div>
        <div class="col-2">
          <ul>
            <router-link class="link" :to="{ name: 'Home' }">Home</router-link>
            <router-link class="link" :to="{ name: 'Blogs' }">Blogs</router-link>
            <router-link v-if="getIsAdmin" class="link" :to="{ name: 'CreatePost' }">Create post</router-link>
            <router-link v-if="!getUser" class="link" :to="{ name: 'Login' }">Login / Register</router-link>
          </ul>
        </div>
      </div>

      <div class="right">
        <p>Copyright 2021 All Rights Reserved</p>
      </div>
    </div>
  </footer>
</template>

<script>
import youTube from '@/assets/Icons/youtube-brands.svg';
import twitter from "@/assets/Icons/twitter-brands.svg";
import instagram from '@/assets/Icons/instagram-brands.svg';
import linkedin from '@/assets/Icons/linkedin-brands.svg';
import { mapGetters } from 'vuex';

export default {
  name: "FooterSection",
  components: {
    youTube,
    twitter,
    instagram,
    linkedin,
  },
  computed: {
    ...mapGetters('Profile', [
      'getUser',
      'getIsAdmin'
    ])
  },
}
</script>

<style lang="scss" scoped>
  @import "@/styles/footer.scss";
</style>