<template>
  <div class="loading">
    <span></span>
  </div>
</template>

<script>
export default {
  name: "Loading",
}
</script>

<style lang="scss" scoped>
  @import '@/styles/loading.scss';
</style>