<template>
  <transition name="fade">
    <div class="profile-menu" v-if="show">
      <div class="info">
        <p class="initials">{{ getProfile.shortName }}</p>
        <div class="right">
          <p>{{ getProfile.firstName }}</p>
          <p>{{ getProfile.username }}</p>
          <p>{{ getProfile.email }}</p>
        </div>
      </div>
      <div class="options">
        <div class="option">
          <router-link class="option" :to="{ name:'Profile' }" @click.native="close">
            <userIcon class="icon"/>
            <p>Profile</p>
          </router-link>
        </div>
        <div class="option" v-if="getIsAdmin">
          <router-link class="option" :to="{  name:'Admin' }" @click.native="close">
            <adminIcon class="icon"/>
            <p>Admin</p>
          </router-link>
        </div>
        <div class="option" @click="signOut">
            <signOutIcon class="icon"/>
            <p>Sign Out</p>
        </div>
      </div>
    </div>   
  </transition>
</template>

<script>
import  { mapGetters } from 'vuex';
import userIcon from '@/assets/Icons/user-alt-light.svg';
import adminIcon from '@/assets/Icons/user-crown-light.svg';
import signOutIcon from '@/assets/Icons/sign-out-alt-regular.svg';
import firebase from "firebase";
import "firebase/auth";

export default {
  name: "MenuProfile",
   components: {
    userIcon,
    adminIcon,
    signOutIcon
  },
  props: {
    show: Boolean
  },
  computed: {
    ...mapGetters('Profile', [
      'getProfile',
      'getIsAdmin'
    ]),
    currentRouteName() {
      return this.$route.name;
    }
  },
  methods: {
    signOut() {
      firebase.auth().signOut();
      window.location.reload();
    },
    close() {
      console.log('clcik')
      this.$emit('update:show', false);
    }
  }
}
</script>
<style lang="scss" scoped>
  @import "@/styles/menu-profile.scss";
</style>
