<template>
  <div class="modal" @click="closeModal">
    <div class="modal-content" @click.stop="">
      <slot>
        <p>{{ modalMessage }}</p>
        <button @click="closeModal">Close</button>
      </slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    modalMessage: String
  },
  methods: {
    closeModal() {
      this.$emit('close-modal');
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '@/styles/modal.scss';
</style>