<template>
  <header>
    <nav class="container">
      <div class="branding">
        <router-link class="header" :to="{ name: 'Home' }">Home Blogs</router-link>
      </div>
      <div class="nav-links">
        <ul v-show="!mobile">
          <router-link class="link" :to="{ name: 'Home' }">Home</router-link>
          <router-link class="link" :to="{ name: 'Blogs' }">Blogs</router-link>
          <router-link v-if="getIsAdmin" class="link" :to="{ name: 'CreatePost' }">Create Post</router-link>
          <router-link v-if="!getUser" class="link" :to="{ name: 'Login' }">Login/Register</router-link>
        </ul>
        <div v-if="getUser" @click="toggleProfileMenu" class="profile" ref="profile">
          <span>{{ getProfile.shortName }}</span>
          <menu-profile :show.sync="profileMenu"/>
        </div>
      </div>
    </nav>
    <menu-icon @click="toggleMobileNav" class="menu-icon" v-show="mobile"/>
    <transition name="mobile-nav">
      <ul class="mobile-nav" v-show="mobileNav"> 
        <router-link class="link" :to="{ name: 'Home' }">Home</router-link>
        <router-link class="link" :to="{ name: 'Blogs' }">Blogs</router-link>
        <router-link v-if="getIsAdmin" class="link" :to="{ name: 'CreatePost' }">Create Post</router-link>
        <router-link  v-if="getUser" class="link" :to="{ name: 'Login' }">Login/Register</router-link>
      </ul>
    </transition>
  </header>
</template>

<script>
import { mapGetters } from 'vuex';
import MenuProfile from './MenuProfile.vue';
import menuIcon from '@/assets/Icons/bars-regular.svg';

export default {
  name: 'navigation',
  components: {
    menuIcon,
    MenuProfile
  },
  computed: {
    ...mapGetters('Profile', [
      'getProfile',
      'getUser',
      'getIsAdmin'
    ])
  },
  data () {
    return {
      profileMenu: null,
      mobile: null,
      mobileNav: null,
      windowWidth: null
    }
  },
  created() {
    window.addEventListener("resize", this.checkScreen);
    this.checkScreen();
  },
  methods: {
    checkScreen() {
      this.windowWidth = window.innerWidth;
      if (this.windowWidth <= 750) {
        this.mobile = true;
        return;
      }
      this.mobile = false;
      this.mobileNav = false;
      return;
    },

    toggleMobileNav() {
      this.mobileNav = !this.mobileNav;
    },

    toggleProfileMenu(e) {
      if (e.target === this.$refs.profile) {
        this.profileMenu = !this.profileMenu;
      }
    },
  },
}
</script>

<style scoped lang="scss">
  @import "@/styles/navigation.scss";
</style>