<template>
  <div class="app-wrapper">
    <transition name="fade">
      <loading v-if="enableLoadingIndicator"/>
    </transition>
    <div class="app">
      <navigation v-if="!navigation"/>
       <transition name="fade">
         <router-view />
       </transition>
      <footer-section v-if="!navigation"/>
    </div>
  </div>
</template>

<script>
import Navigation from '@/components/Navigation';
import FooterSection from '@/components/Footer';
import Loading from '@/components/Loading';
import { firebaseApp } from '@/firebase/firebaseInit';

import "firebase/auth";

export default {
  name: "app",
  components: {
    Navigation,
    FooterSection,
    Loading
  },
  computed: {
    enableLoadingIndicator() {
      return this.$store.getters.getLoadingIndicator;
    }
  },
  data() {
    return {
      navigation: null
    };
  },
  created() {
    firebaseApp.auth().onAuthStateChanged((user) => {
      this.$store.commit("Profile/UPDATE_USER", user);
      if (user) {
        this.$store.dispatch("Profile/setCurrentUser", user);
      }
    })
    this.checkRoute()
    this.$store.dispatch('Post/getPost', { limit: this.$store.state.Post.startLimit })
  },
  mounted() {},
  methods: {
    checkRoute() {
      let listRoute = ['Login', 'Register', 'ForgotPassword'];
      if (listRoute.includes(this.$route.name)) {
        this.navigation = true;
        return;
      }
      this.navigation = false;
    }
  },
  watch: {
    $route() {
      this.checkRoute();
    }
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import '@/styles/app.scss';
@import "@/styles/transition.scss";

</style>
